
#app {
    padding: 15px;   
}
tr:nth-child(even) {
    background: #d5def1
}
tr:nth-child(odd) {
    background-color: #cbecff;
}
tr:first-child {
    background: #a8badc;
}
th, td {
    padding: 10px;   
}
th {
    font-size: 14pt;
}
td:nth-child(2) {
    text-align: right;
}
button {
    width: 150px;
    height: 30px;
    border-width: 0px;
    border-radius: 5px;
    background: #0c30b7;
    color: white;
    margin-top: 10px
}
button:active {
    background: #51b1ff;
    color: black;
}