<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example02</title>

    <link rel="stylesheet" type="text/css" href="./app.css">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.35/dist/web3.min.js"></script>
    
</head>
<body>

    <div id="app">
        <div>
            <div>
                <span>Default Accounts:</span>
                <select v-model="defaultAccount" v-on:change="updateDefaultAccount()">
                    <option v-for="address in addresses" :key="address">{{address}}</option>
                </select>
                <button v-on:click="getAccounts()">refresh</button>
            </div>
            <div>
                <span>Password:</span>
                <input type="password" v-model="defaultPassword" placeholder="password">
            </div>
            <div>  
                <span>New contract :</span>
                <input type="number" v-model="newContractValue" placeholder="ether">
                <button v-on:click="createNewContract()">Create</button>
            </div>
        </div>
        <div>
            <table>
                <tr>
                    <th>合約地址</th>
                    <td>{{myContract.address}}</td>
                </tr>
                <tr>
                    <th>賣家</th>
                    <td>{{myContract.seller}}</td>
                </tr>
                <tr>
                    <th>售價</th>
                    <td>{{myContract.value}} ether</td>
                </tr>
                <tr>
                    <th>買家</th>
                    <td>{{myContract.buyer}}</td>
                </tr>
                <tr>
                    <th>狀態</th>
                    <td>{{myContract.state | stateFilter}}</td>
                </tr>
            </table>
        </div>
        <div>
            <button v-on:click="abort()">abort</button>
            <button v-on:click="confirmPurchase()">confirmPurchase</button>
            <button v-on:click="confirmReceived()">confirmReceived</button>
        </div>
    </div>
    <script src="./contract.js"></script>
    <script src="./app.js"></script>

</body>
</html>